@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
/*font-family: 'IBM Plex Sans Thai Looped', sans-serif;*/
:root{
    /* #4F88CF*/
    /*4f88cf-011638-2e294e-f7d1cd-efefef*/
    --cor-azul-1: #4F88CF;
    --cor-azul-2: #2e294e;
    --cor-azul-2-dark: #011638;
    --cor-vermelho: #CC2936;
    --cor-laranja-intenso: #EC4E20;
    --cor-laranja-pastel: #CF5C36;
    --cor-verde-musgo: #00635D;
    --cor-verde-caqui: #B5BA72;
    --cor-rosa-palido: #f7d1cd;
    --cor-menta-creme: #eaf2ef;
    --cor-ocuto: #EFEFEF;
    --cor-white: #fff;

}
::-webkit-scrollbar{
    padding: 5px;
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track{
    background: var(--cor-ocuto);

}
::-webkit-scrollbar-thumb{ 
    background: var(--cor-azul-1);
    border: 3px solid var(--cor-ocuto);
    border-radius: 20px;
}


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-ocuto);
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--cor-ocuto); 
}
header{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    height: auto;
}
header img{
    width: 100%;
    height: auto;
    margin: auto;
}
.nav-header{
    width: 100%;
    height: 150px;
    background-color: var(--cor-ocuto);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
#logo{
    height: 150px;
    width: 150px;
    margin-left: 36px;
    margin-right: 36px;
    background-color: var(--cor-ocuto);
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}
#logo:hover{
    background-color: var(--cor-azul-2);
    border-radius: 0px 0px 50% 50%;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}
header a{   
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--cor-azul-1);
    background-color: var(--cor-ocuto);
    font-weight: 500;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}
header a:hover{
    font-weight: 600;
    transition-duration: 0.8s;
    color: var(--cor-ocuto);
    background-color: var(--cor-azul-1);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    border-radius: 0px 0px 50px 0px;
}
h1{
    width: 100%;
    font-size: 2.25em;
    text-align: center;
    /*font-family: 'IBM Plex Sans Thai Looped', sans-serif;*/
}
p{
    text-indent: 30px;
    margin: 8px;
}
sup{
    font-size: 0.6em;
    font-weight: lighter;
    transition-duration: 0.2s;
}

main{
    background-color: var(--cor-ocuto);
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 10px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 6px 5px 0px rgb(0, 0, 0, 0.1);
}
#nav-projetos{
    width: 100%;
    height: 30px;
    margin: 24px;
}
#div-main{
    width: 100%;
}
#bg-div-main{
    width: 100%;
    height: 300px;
}
#div-main h1{
    color: var(--cor-azul-2-dark);
}
#div-main p{
    background-color: var(--cor-azul-2-dark);
    text-indent: 0px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
}
.nav-projetos{
    background-color: var(--cor-azul-2-dark);
    margin: 10px auto;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.nav-projetos a{
    transition-duration: 0.4s;
    transition-delay: 0.02s;
}
.nav-projetos a:hover{
    font-weight: 600;
    font-size: 1.2em;
    transition-duration: 0.6s;

}

#div-1{
    color: var(--cor-ocuto);
    height: 100%;
    width: 80%;
    margin: auto;
    padding-bottom: 24px;
    background-color: var(--cor-azul-2);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0, 0.3);
}
section{
    width: 80%;
    margin: auto;
}
section h2{
    margin: 24px;
}
figcaption{
    text-align: center;
    font-size: 0.75em;
    margin: 8px;
}

video{
    display: flex;
    width: 80%;
    margin: auto;
    height: 300px;
    justify-content: center;
}
caption{
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
    margin-top: -20px;
    color: #00635D;
}
picture{
    width: 20%;
    margin: auto;
}
img{
    margin: auto;
}

article{
    margin: 50px;
}
.projeto-video, .projeto01, .projeto02, .projeto03{
    margin: auto;
    margin-bottom: 10%;
    justify-content: center;
    color: white;
}
.fotos01, .fotos02, .fotos03{
    margin: auto;
    display: flex;
    flex-direction: row;
}
footer{
    margin: auto;
    padding-top: 20px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(46, 46, 46);
    border-radius: 0 20px 0 0 ;
}
footer p{
    margin: auto;
    font-size: 0.75em;
}
footer a{
    transition-duration: 0.4s;
}
footer a:hover{
    font-weight: bold;
    transition-duration: 0.4s;
}