@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
/*font-family: 'IBM Plex Sans Thai Looped', sans-serif;*/
:root{
    /* #4F88CF*/
    --azul: #4F88CF;

}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #EFEDEE;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46); 
}
header{
    margin: auto;
    height: 100%;
}
header img{
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow: inset 10px 10px 50px black;
}
.logo{
    width: 40%;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    transition-duration: 1.5s;
}
.logo:hover{
    width: 45%;
}
header a{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    padding: 3% 5%;
    box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.2);
    transition-duration: 0.8s;
    transition-delay: 0.2s;
}
header a:hover{
    transition-duration: 0.4s;
    background-color: var(--azul);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    font-size: 1.05em;
}
h1{
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}
h2{
    margin: 10px 0px 10px 0px;
}
p{
    text-indent: 30px;
}
.nav-header{ 
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -64%;
}

.slogan{
    text-indent: 0px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    /*font-family: 'IBM Plex Sans Thai Looped', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
.slogan:hover{
    letter-spacing: 0px;
    transition-duration: 0.4s;
}

main{
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: -60px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 30px 5px rgb(0, 0, 0, 0.3);
}
video{
    display: flex;
    width: 80%;
    margin: 50px auto;
    height: 300px;
    justify-content: center;
}
picture{
    width: 20%;
}
img{
    width: 100%;
}
article{
    margin: 50px;
}
.projeto01, .projeto02, .projeto03{
    width: 10%;
    margin: 100px auto;
    justify-content: center;
    color: white;
}
.fotos01, .fotos02, .fotos03{
    margin: auto;
    display: flex;
    flex-direction: row;
}
footer{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(46, 46, 46);
}
footer p{
    margin: auto;
}
footer a{
    transition-duration: 0.4s;
}
footer a:hover{
    font-weight: bold;
    transition-duration: 0.4s;
}